# Batch data directories
batch*/raw/
batch*/mzml/
batch*/results/
batch*/database/

# Python
venv/
__pycache__/
*.py[cod]

# Proteomics file types
*.raw
*.RAW
*.mzML
*.fasta
*.fa
*.faa
*.gz
*.pep.xml
*.prot.xml
*.mzid
*.index
*.html

# R
.Rhistory
.RData
.Rproj.user/

# Logs
*.log

# OS files
.DS_Store

# local_tpp branch
./PXD007160
./data/**
data/batch1/search/comet.params.new
data/batch1/search/libra_condition.xml
data/batch1/search/quantitation.tsv
